# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

# Python files
[*.py]
indent_style = space
indent_size = 4
max_line_length = 88

# YAML files
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# JSON files
[*.json]
indent_style = space
indent_size = 2

# PowerShell files
[*.ps1]
indent_style = space
indent_size = 4

# C/C++ files
[*.{c,cpp,h,hpp}]
indent_style = space
indent_size = 4

# Configuration files
[*.{toml,ini,cfg}]
indent_style = space
indent_size = 4
